@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Bangers&family=Dancing+Script:wght@700&family=Fleur+De+Leah&family=Great+Vibes&family=Imperial+Script&family=Oleo+Script+Swash+Caps:wght@400;700&family=Orelega+One&family=Oswald:wght@500;700&family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 80%;
}

.homeSection {
  min-height: 100vh;
  margin: 15px;
  padding: 15px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(../assets/img/background2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.menüBar {
  margin-top: 6rem;
}
.menuBar li {
  display: inline-block;
  list-style-type: none;
  background-color: black;
  color: #f2f2f2;
  padding: 1.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  font-size: 2rem;

  border-radius: 100vw;
  border: 2px solid beige;
}

a {
  color: #48d1cc;
  text-decoration: none;
  text-shadow: 2px 2px #2f4f4f;
}

.menuBar li:hover {
  background-color: #ddd;
  color: black;
  transition: 600ms;
}
/* facebook icon */
.menuBar i {
  font-size: 5rem;
  float: right;
  color: blue;
  margin: 0.5rem 10rem;
}
/* facebook hover */
.menuBar i:hover {
  transform: scale(0.9);
  transition: transform 600ms ease-in;
}

.heading {
  text-align: center;
  font-size: 15rem;
  margin: 10rem;
  font-family: "Arizonia", cursive;
  color: #d3d3d3;
  text-shadow: 0.7rem 0.7rem #438686;
}

.heading2 {
  text-align: center;
  font-size: 11rem;
  margin: 10rem;
  font-family: "Arizonia", cursive;
  text-shadow: 0.7rem 0.7rem #094545;
  color: #51a2a1;
}
#aboutMe {
  border: 5px solid black;
  min-height: 100vh;
  margin: 25px;
  padding: 15px;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    ),
    url(../assets/img/Moldova_logo_pantone_vertical_overblack.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.biography h1 {
  font-size: 12rem;
  text-align: center;
  color: #2f4f4f;
  text-shadow: 1rem 1rem #d3d3d3;
  font-family: "Playfair Display", serif;
}
.picAboutMe {
  float: right;
  border: 0.2rem solid #696969;
  border-radius: 55px;
  margin: 5rem;
  overflow: hidden;
}

.picAboutMe:hover {
  transform: scale(0.9);
  transition: 600ms;
}

.description p {
  text-align: justify;
  margin: 2rem;
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0.5px 0.5px gray;
}
