body {
    background-image: url(joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Macondo", cursive;
}

h1 {
    font-size: 70px;
    list-style: square;
}

h2 {
    font-size: 50px;
    color: cadetblue;
}

li {
    font-size: 50px;
    color: blue;
}
p {
    font-size: 40px;
    color: black;
    text-align: center;
}

.kaffee-blog {
    padding-left: 30rem;
    padding-right: 30rem;
}
.h2 {
    padding-left: 15rem;
}
.h3 {
    padding-left: 20rem;
}
.img {
    margin-left: 15rem;
    width: 400px;
    border: 9px solid black;
}

a {
    font-size: xx-large;
}
a:link,
a:visited {
    text-decoration: none;
}
