body {
  width: auto;
  background-image: url(./thumbs_b_c_929793c3b75cdf78787f9abcb55c13b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  color: rgb(250, 245, 245);
  text-shadow: 5px 5px 5px;
  text-decoration-line: none;
  text-align: center;
  font-size: 50px;
  border-style: solid;
  border-color: rgb(237, 220, 219);
}
h1:hover {
  color: darkgrey;
  background-color: beige;
  font-size: xx-large;
}

h2:hover {
  color: rgb(214, 214, 24);
}
h2 {
  font-size: 50px;

  border-bottom-style: outset;
  border-bottom-width: 10px;
}

p:hover {
  color: brown;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: x-large;
}
a {
  font-size: xx-large;
}
a:hover {
  color: rgb(51, 136, 153);
  font-size: x-large;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.art h1 {
  color: black;
  border-style: none;
}
.art p {
  color: burlywood;
  font-size: xx-large;
}
img {
  border-radius: 30px;
  float: right;
  box-shadow: 20px, 30px, 20px, gray;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-left: 10px;
}

/* i frame zentrieren */

iframe {
  margin: 0 auto;
  display: block;
  height: 700px;
  width: 1700px;
}
