* {
  box-sizing: border-box;
}
body {
  width: auto;
  background-image: url(./thumbs_b_c_929793c3b75cdf78787f9abcb55c13b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  color: rgb(250, 245, 245);
  text-shadow: 5px 5px 5px;
  text-decoration-line: none;
  text-align: center;
  font-size: 80px;
  border-style: solid;
  border-color: rgb(237, 220, 219);
  font-family: "Macondo", cursive;
}
h1:hover {
  color: darkgrey;
  background-color: beige;
  font-size: xx-large;
}

h2:hover {
  color: rgb(214, 214, 24);
}
h2 {
  font-size: 50px;

  border-bottom-style: outset;
  border-bottom-width: 10px;
  font-family: "Ubuntu", sans-serif;
}
form {
  border: 5px solid rgb(80, 72, 72);
}

label {
  max-width: 30px;
  margin-right: auto;
  display: inline-block;
  font-size: xx-large;

  margin: 1rem;
}
input {
  font-size: large;
}
textarea {
  background-color: rgb(126, 155, 235);
  font-size: larger;
}
button {
  font-size: 20px;
  background-color: rgba(48, 112, 23, 0.718);
  padding: 25px;
  margin: 20px;
  cursor: pointer;
  width: 200px;
  color: azure;
  border-radius: 50%;
}
button:hover {
  color: rgb(227, 209, 209);
  background-color: rgb(167, 29, 29);
}
select {
  background-color: blueviolet;
  font-size: larger;
}
option {
  background-color: brown;
}

p:hover {
  color: brown;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: x-large;
}
ul {
  list-style: none;
}
a {
  font-size: xx-large;
  color: antiquewhite;
}
a:hover {
  color: rgb(51, 136, 153);
  font-size: x-large;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.art h1 {
  color: black;
  border-style: none;
}
.art p {
  color: black;
  font-size: xx-large;
}
img {
  border-radius: 30px;
  float: right;
  box-shadow: 20px, 30px, 20px, gray;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-left: 10px;
}

/* i frame zentrieren */

iframe {
  margin: 0 auto;
  display: block;
  height: 700px;
  width: 1700px;
}
.farbe {
  color: red;
}
.farbe1 {
  color: green;
}
