body {
  min-height: 100vh;
  width: 100vw;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(./background.jpg);
  background-size: cover;
}
.pictureOur {
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 40px;
  display: block;
}
img:hover {
  cursor: grabbing;
  transform: scale(1.2);
  transition-duration: 0.3s;
}
h1,
h2 {
  text-align: center;
  color: rgba (0, 0, 0);
}
p,
ul,
ol {
  width: 70%;
  margin: 1em auto;
  font-weight: bolder;
  font-size: 2em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  border-radius: 50px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
