@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oleo+Script+Swash+Caps:wght@400;700&family=Orelega+One&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 10em;
  padding: 10px;

  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255)
    ),
    url(./background.jpg);
  background-size: cover;
  background-position: center;
}
.pictureOur {
  width: 30%;
  margin: 5rem auto;
  border-radius: 40px;
  display: block;
}
.pictureOur:hover {
  cursor: grabbing;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.videoContainer {
  width: 320px;
  margin: 0 auto;
}
h1,
h2 {
  font-size: 5em;
  text-align: center;
  color: black;
  text-shadow: 3px 3px gray;
  font-family: "Oleo Script Swash Caps", cursive;
}

.description p {
  font-size: 3rem;
  text-align: center;
  font-family: "Orelega One", cursive;
  text-shadow: 2px 2px gray;
}

a,
li {
  text-align: center;
  color: black;
  text-shadow: 2px 1px gray;
  font-family: "Bangers", cursive;
  font-size: 2rem;
  margin: 2rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  background: #3b5998;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.front * {
  height: 100%;
  width: 100%;
}

.leosPic {
  width: 50%;
  margin: 5rem auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 40px;
}
.front:nth-child(2n + 1) {
  text-align: justify;
  font-size: 2rem;
  font-family: "Orelega One", cursive;
  color: rgb(7, 16, 39);
}
