@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
#th {
  width: 100px;
  border-radius: 30%;
}
div {
  background-color: rgba(240, 248, 255, 0.808);
  width: 450px;
  border-radius: 20px;
}
img {
  width: 500px;
  border-radius: 70px;
}
h1 {
}
body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201104/pngtree-technology-background-binary-computer-code-vector-design-image_458702.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: aqua;
}
h2 {
  font-family: "Kotta One", serif;
}
p {
  border: dashed 2px red;
  margin: 50px;
  text-align: center;
  padding: 10px;
  width: 3cm;
}
a {
  text-decoration: none;
  color: brown;
  padding: 10px;
}
a:hover {
  color: blue;
}
.first:hover {
  color: red;
}
#sec:hover {
  color: blueviolet;
}
ol li {
  display: inline;
}
nav {
  margin-bottom: 70px;
  margin-top: 20px;
  left: 35vw;
  background-color: rgba(0, 174, 255, 0.651);
  border-radius: 20px;
  margin: auto;
  position: absolute;

}
nav a {
  color: aqua;
}
article {
  padding: 30px;
  text-align: center;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 30px;
  margin: 10px;
}
section {
  display: flex;
  width: 1000px;
  margin: auto;
}
nav a:hover {
  color: burlywood;
}
#ar{
  text-align: right;
}
.arab{
  padding: 15px;
  text-align: right;
  font-size: 40px;
  font-family: 'Vibes', cursive;
  margin-left: 80vw;
  color: bisque;
  background-color: rgba(0, 0, 0, 0.541);
  width: 300px;
}
span{
  color: brown;
}