h2 {
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid cadetblue !important;
    display: inline-block
}

.highlight {
    color: crimson;
}

.links a {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    background-color: antiquewhite;
    color: black;
}
