* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
} 
body{
   
background-color: rgb(255, 255, 255);
padding-top: 80px;
margin-bottom: 100px;
padding: 50px;
}
.header {display: block;
    text-decoration: none;
background-color: rgba(133, 165, 170, 0.801);
position: fixed;
left: 0;
width: 100%;
margin-top: -50px;
z-index: 1;

}
h3  {
    color: coral;
}
.mandi{
    color: rgb(118, 156, 129);
}
.rezept {
    color: blue;
}
h1 {
    text-align: center;
    color: rgb(100, 141, 50);
    transition: 0.3s;
    text-shadow: 0 0 10px;
   
    margin: 20px;
}
h2 {
    color: coral;
}
 p {
    color: rgb(42, 112, 45);
}
.info p {
    color: rgba(240, 71, 116, 0.617);
}
ul :hover {
 padding: 0;
 margin: 0;
color: red;
}
.ul1 {
    list-style: none;
    text-align: end;
 
}
a{ 
    display: block;
    text-decoration: none;
    display: block;
    color: white;
}
strong {
    color: coral;
}
video {
    display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
border-radius: 30px 30px;
border-style: 30px solid  red;

}
#hoppy >.pool {
  margin-top: 30px;
}
#hobby img{
    float: right;
    display: block;
    width: 30%;
    margin-bottom: 15px;
    border-radius: 50% 50%;
    outline: 5px dotted rgb(148, 84, 84);
}
#hobby >article>p {
    color: rgb(101, 120, 173);
}
#hobby article , hr ,ul, .link {
    clear: both;
    
}
.buch {
    margin-top: 30px;
}
.buch  img {
    border-radius: 20px;
    float: right;
    display: block;
    width: 30%;
    margin-top: -40px;
    border-radius: 50% 50%;
    outline: 5px dotted rgb(148, 84, 84);
}
form {
    background-color: rgba(87, 230, 215, 0.48);
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
span {
    color: rgb(206, 81, 81);
}

footer {

    background-color: rgb(51, 184, 153);
  width: 100%;
  text-align: center;
  height: 70px;
position: fixed;
bottom: 0;
left: 0;

width: 100%;
    z-index: 1;
}
footer  li {
    list-style: none;
}
footer  li ,h5 {
color: rgb(192, 94, 94);
}

