* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
} 
body{
   
background-color: rgb(102, 131, 87);
padding-top: 80px;
margin-bottom: 100px;
}
.header {display: block;
    text-decoration: none;
background-color: rgba(34, 34, 160, 0.801);
position: fixed;
left: 0;
width: 100%;
margin-top: -80px;

z-index: 1;

}

h1 {
    text-align: center;
    color: white;
    transition: 0.3s;
}
 p {
    color: rgb(180, 38, 38);
}
.info p {
    color: rgba(153, 205, 50, 0.617);
}
ul :hover {
 padding: 0;
 margin: 0;
color: red;
}
.ul1 {
    list-style: none;
    text-align: end;
 
}
a{ 
    display: block;
    text-decoration: none;
    display: block;
    color: white;
}
video{
    display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
border-radius: 30px ;
border-style: 30px solid  red;

}
#hobby img{
    float: right;
    display: block;
    width: 30%;
    margin-bottom: 15px;
    border-radius: 50% 50%;
    outline: 5px dotted rgb(148, 84, 84);
}
#hobby article , hr ,ul, .link {
    clear: both;
    
}
.buch  img {
    border-radius: 20px;
    float: right;
    display: block;
    width: 30%;
    margin-top: -40px;
    border-radius: 50% 50%;
    outline: 5px dotted rgb(148, 84, 84);
}

footer {
    display: block;
    background-color: rgb(40, 40, 218);
  width: 100%;
  text-align: center;
  height: 70px;
position: fixed;
bottom: 0;


    z-index: 1;
}
footer  li ,h5 {
color: rgb(192, 94, 94);
}

