body {
  color: whitesmoke;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI5ypQfgyS9eWiGYGC3EJDSCKaK_7rn9PUZg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 550px;

  display: inline-block;

  font-size: xx-large;
}

.First {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bold;
}
.Second {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Third {
  font-style: italic;
}
a:hover {
  color: red;
  background-color: black;
}
.Forth {
  font-family: "Courier New", Courier, monospace;
  border: 10px;
}
.ziga {
  border: 15px;
  border-color: brown;
  border-style: groove;
  background-color: rgba(1, 1, 1, 0.5);
  font-size: 70px;
  font-weight: bolder;
}
iframe {
  width: 3000px;
  height: 1500px;
}
