body {
  background-image: url("wallpaperbetter\(36\).jpg");
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 7px #111111;
  margin: 0;
}

header {
  height: 100px;
}

h1 {
  color: ghostwhite;
  font-size: 65px;
  text-align: center;
}

nav {
  background-color: ghostwhite;
  text-align: center;
  text-shadow: none;
}

nav a {
  color: cadetblue;
  padding: 15px 45px;
  display: inline-block;
}

nav a:hover {
  background-color: cadetblue;
  color: ghostwhite;
}

ul {
  color: ghostwhite;
  font-size: 30px;
}

div#con2 {
  padding: 10px 40px;
}

div#con3 {
  padding: 10px 20px;
  background: inherit;
  text-shadow: 2px 2px 7px #111111;
}

p {
  color: ghostwhite;
  font-size: 25px;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 15px;
}
