body {
  background-image: url("wallpaperbetter\(36\).jpg");
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
  color: ghostwhite;
  text-shadow: 2px 2px 7px #111111;
  margin: 0;
  padding: 0;
}

header {
  background: inherit;
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

h1 {
  font-size: 65px;
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: ghostwhite;
  text-shadow: none;
  text-align: center;
  padding: 15px 20px;
}

nav li {
  display: inline;
  padding: 30px;
}

nav a {
  color: cadetblue;
  font-size: 25px;
  text-decoration: none;
  padding: 15px 45px;
}

nav a:hover {
  background-color: cadetblue;
  color: ghostwhite;
}

aside {
  font-size: 25px;
  float: right;
}

div#con1 {
  padding: 10px 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 25px;
}

footer {
  background-color: ghostwhite;
  text-align: center;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: cadetblue;
}

footer p {
  font-size: 15px;
  text-shadow: none;
}
