body {
    background-image: url(./desert.jpg);
    background-size: cover;
}

img {
    border-radius: 6%;
}
h1 {
    color: rgb(73, 109, 70);
    text-align: center;
}
h2 {
    color: rgb(73, 109, 70);
    text-align: auto;
}
li {
    color: coral;
}
h3 {
    color: rgb(73, 109, 70);
    text-align: auto;
}
h4 {
    color: rgb(73, 109, 70);
    text-align: auto;
}

iframe {
    border-radius: 6%;
}
div {
    align-items: center;
}
